/* Google Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #F6F1E7; /* Cream */
    --secondary-color: #3A2A1A; /* Espresso Brown */
    --third-color: #C9A24D; /* Gold */
    --fourth-color-hover: #B08D3E; /* Gold - hover */
}

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: var(--secondary-color);
}

.bg-cream {
    background-color: var(--primary-color);
}

/* Form inputs border color change */

.form-control:focus,
.form-select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 .10rem var(--primary-color);
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--third-color);
    background-color: var(--third-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--fourth-color-hover);
    background-color: var(--fourth-color-hover);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--third-color);
    padding: 7px 25px;
    color: white;
}

.custom-button-outline:hover {
    background-color: var(--fourth-color-hover);
    color: white;
}

/* Navbar */

#navbarNav {
    background-color: var(--secondary-color);
    position: static;
}

#nav-btn {
    position: static;
    margin-top: 1rem;
}

#navbar .navbar-brand span {
    font-size: 1.5rem;
}

#navbar .navbar-toggler {
    background-color: var(--third-color);
}

#navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* Header */

#header .carousel-item1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-bg1.jpg) no-repeat center center/cover;
}

header .header-paragraph {
    width: 100%;
}

#header .carousel-item2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/header-bg2.jpg) no-repeat center center/cover;
}

#header .carousel-item3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/header-bg3.jpg) no-repeat center center/cover;
}

/* About section */

#about-us-section img {
    width: 50%;
}

/* Reviews section */

.reviews-section .card-title,
.reviews-section .fa-star,
.reviews-section .fa-star-half-stroke {
    color: var(--secondary-color);
}

.reviews-section .card-title {
    font-size: 1.25rem;
}

/* Menu page */
/* Header */

#menu-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/menu-header-bg.jpg) no-repeat center center/cover;
}

#menu img {
    width: 80%;
}

/* About us page */
/* Header */

#about-us-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/about-us-header-bg.jpg) no-repeat center center/cover;
}

/* Gallery page */
/* Header */

#gallery-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gallery-header-bg.jpg) no-repeat center center/cover;
}

/* Reservations page */
/* Header */

#reservations-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/reservations-header-bg.jpg) no-repeat center center/cover;
}

/* Success page */
/* Header */

#success-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/success-header-bg.jpg) no-repeat center center/cover;
}

/* Footer */

footer {
    background-color: var(--primary-color);
}

#footer-contact i {
    font-size: 1.9rem;
}

footer .follow-section i:hover {
    color: var(--third-color);
}

/* Large devices (small laptops, 992px and up) */

@media screen and (min-width: 992px) {
    #navbarNav {
        background-color: transparent;
        position: relative;
    }

    #nav-btn {
        position: absolute;
        margin-top: 0;
    }

    header .header-paragraph {
        width: 50%;
    }

    #menu img {
        width: 50%;
    }
}
