/* Google Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
}
